
<div class="dashboard-container">
    <h1>Dashboard</h1>
    
    <div class="charts-container">
      <div class="chart-card">
        <canvas #appointmentsChart></canvas>
      </div>
      
      <div class="chart-card">
        <canvas #documentsChart></canvas>
      </div>
    </div>
  </div>


  <div class="documents-container">
    <h1>Student Medical Documents</h1>
    
    <!-- Search controls outside container -->
    <div class="search-controls">
      <div class="dropdown">
        <select
          [(ngModel)]="selectedDepartment"
          (ngModelChange)="onDepartmentChange()"
          class="form-select"
        >
          <option value="">All Departments</option>
          <option value="CAHS">CAHS</option>
          <option value="CBA">CBA</option>
          <option value="CEAS">CEAS</option>
          <option value="CHTM-Tourism">CHTM-Tourism</option>
          <option value="CHTM-Hospitality">CHTM-Hospitality</option>
          <option value="CCS">CCS</option>
        </select>
      </div>
    
      <div class="dropdown">
        <select
          [(ngModel)]="selectedProgram"
          (ngModelChange)="onProgramChange()"
          class="form-select"
        >
          <option value="">All Programs</option>
          <option
            *ngFor="let program of selectedPrograms[selectedDepartment] || []"
            [value]="program"
          >
            {{ program }}
          </option>
        </select>
      </div>
    
      <div class="dropdown">
        <select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange()">
          <option value="">All Years</option>
          <option value="1">1st Year</option>
          <option value="2">2nd Year</option>
          <option value="3">3rd Year</option>
          <option value="4">4th Year</option>
        </select>
      </div>
    
      <div class="search-box">
        <input
          type="text"
          placeholder="Student I.D or Student Name"
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
        />
        <button class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <button class="download-button" (click)="downloadExcel()">
        Download Excel
      </button>
    </div>
    
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="filteredStudents" class="mat-table">
    
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let student"> {{ student.first_name }} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let student"> {{ student.last_name }} </td>
        </ng-container>
    
        <!-- ID Number Column -->
        <ng-container matColumnDef="idNumber">
          <th mat-header-cell *matHeaderCellDef> ID Number </th>
          <td mat-cell *matCellDef="let student"> {{ student.idNumber }} </td>
        </ng-container>
    
        <!-- Department Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let student"> {{ student.department }} </td>
        </ng-container>
    
        <!-- Program Column -->
        <ng-container matColumnDef="program">
          <th mat-header-cell *matHeaderCellDef> Program </th>
          <td mat-cell *matCellDef="let student"> {{ student.program }} </td>
        </ng-container>
    
        <!-- Year Level Column -->
        <ng-container matColumnDef="yearLevel">
          <th mat-header-cell *matHeaderCellDef> Year Level </th>
          <td mat-cell *matCellDef="let student"> {{ student.yearLevel }} </td>
        </ng-container>
    
      <!-- Medical Documents Column -->
<ng-container matColumnDef="medicalDocuments">
  <th mat-header-cell *matHeaderCellDef> Medical Documents </th>
  <td mat-cell *matCellDef="let student">
    <div *ngIf="student.medical_documents?.length; else noDocuments">
      <ul>
        <li *ngFor="let doc of student.medical_documents">
          {{ doc.document_type }} ({{ doc.date }}) - {{ doc.status }}
        </li>
      </ul>
    </div>
    <ng-template #noDocuments>No Documents</ng-template>
  </td>
</ng-container>

<!-- Vaccination Records Column -->
<ng-container matColumnDef="vaccinationRecords">
  <th mat-header-cell *matHeaderCellDef> Vaccination Records </th>
  <td mat-cell *matCellDef="let student">
    <div *ngIf="student.vaccination_records?.length; else noRecords">
      <ul>
        <li *ngFor="let record of student.vaccination_records">
          {{ record.first_dose_type }} (1st: {{ record.first_dose_date }}), 
          {{ record.second_dose_type }} (2nd: {{ record.second_dose_date }}), 
          Booster: {{ record.booster_type }} ({{ record.booster_date }}) - {{ record.status }}
        </li>
      </ul>
    </div>
    <ng-template #noRecords>No Records</ng-template>
  </td>
</ng-container>

    
        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
  </div>
 