<div class="medical-details-container">
  <div class="header">
    <button class="back-button" routerLink="/documents">
      <i class="fas fa-arrow-left"></i> Back to Documents
    </button>
  </div>

  <!-- Student Profile -->
  <div class="student-info-card" *ngIf="student.name; else loading">
    <img [src]="getImageUrl()"  alt="Profile Image" />
    <div class="info">
      <h3>{{ student.name }}</h3>
      <p><strong>Department:</strong> {{ student.department }}</p>
      <p><strong>Year Level:</strong> {{ student.year_level }}</p>
      <p><strong>ID Number:</strong> {{ student.id_number }}</p>
    </div>
  </div>


  
  <table class="table">
    <thead>
      <tr>
        <th class="th">Medical Documents</th>
        <th class="th">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of documents | keyvalue">
        <td class="td">{{ doc.value.name }}</td>
        <td class="td" 
            [class.text-green-600]="doc.value.status === 'Submitted'"
            [class.text-red-600]="doc.value.status === 'Need Submission'">
          {{ doc.value.status }}
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Medical Records -->
  <div class="documents-details">
    <h4>Medical Records</h4>
    
    <!-- Document Records -->
    <div *ngFor="let doc of documents | keyvalue">
      <div class="info-box" *ngIf="doc.value.file_path">
        <h5>{{ doc.value.name }}</h5>
        <div class="info-details">
          <p><strong>Document Type:</strong> {{ doc.value.document_type }}</p>
          <p><strong>Location:</strong> {{ doc.value.location }}</p>
          <p><strong>Date:</strong> {{ doc.value.date | date }}</p>
          <p><strong>Status:</strong> {{ doc.value.status }}</p>
        </div>
        <img [src]="getDocumentUrl(doc.value.file_path)" class="image" [alt]="doc.value.name" />
      </div>
    </div>

    <!-- No Records Message -->
    <div *ngIf="!hasAnyRecords()" class="no-records">
      <p>No medical records available.</p>
    </div>
  </div>

  <!-- Loading Template -->
  <ng-template #loading>
    <p>Loading student details...</p>
  </ng-template>
</div>

