<mat-sidenav-container>
  <mat-sidenav #snav [mode]="'side'" 
               [opened]="true"
               [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <img src="/assets/medtrack-logo.png" class="logo" (click)="toggleCollapse()">
    <button class="btn-close" *ngIf="collapsed" 
            (click)="toggleCollapse()">
      <i class="fas fa-times close-icon"></i>
    </button>
    <div class="scrollwrap scrollwrap_delayed">
      <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" 
             [routerLink]="[data.routeLink]" 
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             (click)="!collapsed && toggleCollapse()">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">
              {{data.label}}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="datetime-container">
        <i class="far fa-calendar"></i>
        <span>{{ currentDateTime | date: 'EEEE, MMM d, y, h:mm a' }}</span>
      </div>
    </mat-toolbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>