<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav 
               [mode]="mobileQuery.matches ? 'over' : 'side'" 
               class="sidenav" 
               [opened]="!mobileQuery.matches"
               [ngClass]="collapsed ? 'sidenav-collapsed': ''">    
    <div class="logo-container">
      <img src="assets/gcmedtrack.png" class="logo" (click)="toggleCollapse()" alt="Logo">
      <button class="btn-close" *ngIf="collapsed" 
              [@rotate]="collapsed ? 'rotated' : 'default'"
              (click)="closeSidenav()">
        <i class="fas fa-times close-icon"></i>
      </button>
    </div>
    
    <div class="user-info-container">
      <i class="fas fa-circle-user user-icon"></i>
      <div class="user-details">
        <span class="user-name" @fadeInOut>{{ userName }}</span>
        <span class="user-role" @fadeInOut>{{ userRole }}</span>
      </div>
    </div>

    <div class="profile-section">
      <mat-list-item 
        class="nav-list-item" 
        (click)="navigateToProfile()" 
        [class.active]="selectedNavItem === 'profile'">
        <i class="sidenav-link-icon fas fa-user"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">Profile</span>
      </mat-list-item>
    </div>

    <div class="scrollwrap scrollwrap_delayed">
      <mat-list class="sidenav-nav">
        <mat-list-item 
          *ngFor="let item of navData"
          class="sidenav-nav-item"
          [routerLink]="['/user/' + item.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="selectedNavItem = item.routeLink">
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ item.label }}</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="log-out">
      <mat-list-item class="nav-list-item logout" (click)="logout()">
        <i class="sidenav-link-icon fas fa-right-from-bracket"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">Log Out</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="snav.toggle()" class="toggle-button">
        <i class="fas fa-bars"></i>
      </button>  
      
      <div class="datetime-container">
        <i class="far fa-calendar"></i>
        <span>{{ currentDateTime | date: 'EEEE, MMM d, y, h:mm a' }}</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>